<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Revive_USB_CT.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Revive_USB_CT.Properties.Settings>
            <setting name="MEMO01" serializeAs="String">
                <value>メモ</value>
            </setting>
            <setting name="MEMO02" serializeAs="String">
                <value>メモ</value>
            </setting>
            <setting name="MEMO03" serializeAs="String">
                <value>メモ</value>
            </setting>
            <setting name="MEMO04" serializeAs="String">
                <value>メモ</value>
            </setting>
            <setting name="MEMO05" serializeAs="String">
                <value>メモ</value>
            </setting>
            <setting name="MEMO06" serializeAs="String">
                <value>メモ</value>
            </setting>
            <setting name="MEMO07" serializeAs="String">
                <value>メモ</value>
            </setting>
            <setting name="MEMO08" serializeAs="String">
                <value>メモ</value>
            </setting>
            <setting name="MEMO09" serializeAs="String">
                <value>メモ</value>
            </setting>
            <setting name="MEMO10" serializeAs="String">
                <value>メモ</value>
            </setting>
            <setting name="MEMO11" serializeAs="String">
                <value>メモ</value>
            </setting>
            <setting name="MEMO12" serializeAs="String">
                <value>メモ</value>
            </setting>
            <setting name="MEMO13" serializeAs="String">
                <value>メモ</value>
            </setting>
            <setting name="MEMO14" serializeAs="String">
                <value>メモ</value>
            </setting>
            <setting name="MEMO15" serializeAs="String">
                <value>メモ</value>
            </setting>
            <setting name="MEMO16" serializeAs="String">
                <value>メモ</value>
            </setting>
            <setting name="MEMO17" serializeAs="String">
                <value>メモ</value>
            </setting>
            <setting name="MEMO18" serializeAs="String">
                <value>メモ</value>
            </setting>
            <setting name="MEMO19" serializeAs="String">
                <value>メモ</value>
            </setting>
            <setting name="MEMO20" serializeAs="String">
                <value>メモ</value>
            </setting>
        </Revive_USB_CT.Properties.Settings>
    </userSettings>
</configuration>