<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <userSettings>
        <Revive_USB_CT.Properties.Settings>
            <setting name="MEMO01" serializeAs="String">
                <value>aa</value>
            </setting>
            <setting name="MEMO02" serializeAs="String">
                <value>bbbbb</value>
            </setting>
            <setting name="MEMO03" serializeAs="String">
                <value>メモ</value>
            </setting>
            <setting name="MEMO04" serializeAs="String">
                <value>メモ</value>
            </setting>
            <setting name="MEMO05" serializeAs="String">
                <value>メモ</value>
            </setting>
            <setting name="MEMO06" serializeAs="String">
                <value>メモ</value>
            </setting>
            <setting name="MEMO07" serializeAs="String">
                <value>メモ</value>
            </setting>
            <setting name="MEMO08" serializeAs="String">
                <value>メモ</value>
            </setting>
            <setting name="MEMO09" serializeAs="String">
                <value>メモ</value>
            </setting>
            <setting name="MEMO10" serializeAs="String">
                <value>メモ</value>
            </setting>
            <setting name="MEMO11" serializeAs="String">
                <value>メモ</value>
            </setting>
            <setting name="MEMO12" serializeAs="String">
                <value>メモ</value>
            </setting>
            <setting name="MEMO13" serializeAs="String">
                <value>メモ</value>
            </setting>
            <setting name="MEMO14" serializeAs="String">
                <value>メモ</value>
            </setting>
            <setting name="MEMO15" serializeAs="String">
                <value>メモ</value>
            </setting>
            <setting name="MEMO16" serializeAs="String">
                <value>メモ</value>
            </setting>
            <setting name="MEMO17" serializeAs="String">
                <value>メモ</value>
            </setting>
            <setting name="MEMO18" serializeAs="String">
                <value>メモ</value>
            </setting>
            <setting name="MEMO19" serializeAs="String">
                <value>メモ</value>
            </setting>
            <setting name="MEMO20" serializeAs="String">
                <value>メモ</value>
            </setting>
            <setting name="CODE01" serializeAs="String">
                <value>C1AA5A8F1201B1</value>
            </setting>
            <setting name="CODE02" serializeAs="String">
                <value>C1AA5A8F120281</value>
            </setting>
            <setting name="CODE03" serializeAs="String">
                <value>C1AA5A8F120391</value>
            </setting>
            <setting name="CODE04" serializeAs="String">
                <value>C1AA5A8F1204C3</value>
            </setting>
            <setting name="CODE05" serializeAs="String">
                <value>C1AA5A8F120803</value>
            </setting>
            <setting name="CODE06" serializeAs="String">
                <value>C1AA5A8F1205D3</value>
            </setting>
            <setting name="CODE07" serializeAs="String">
                <value>C1AA5A8F1207F3</value>
            </setting>
            <setting name="CODE08" serializeAs="String">
                <value>C1AA5A8F1206E3</value>
            </setting>
            <setting name="CODE09" serializeAs="String">
                <value>C1AA5A8F120193</value>
            </setting>
        </Revive_USB_CT.Properties.Settings>
    </userSettings>
</configuration>